body {
    background-color: azure;
}

header {
    text-align: center;
    padding-bottom: 1%;
}

main {display: flex;}

#section1 {
    text-align: left;
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

#section2 {float: right;
    width: 50%;
}

#div {display: flex;
}

.pmargin {margin-right: 20px;}